.post-type-archive-projects
	.page-header
		margin: 0
		padding: 0
		h2
			margin: 0
			text-transform: uppercase
.single-projects
	.carousel
		.carousel-indicators
			display: block
		.carousel-caption
			position: relative