.carousel
	.carousel-indicators
		display: none
	.carousel-caption
		background: black
		width: 100%
		left: 0
		right: 0
		bottom: 0
		text-align: left
		padding: 40px 60px 60px 60px
		h4
			font-size: 38px
			text-transform: uppercase
			color: #fff
			padding-bottom: 15px
		p
			font-size: 18px
			line-height: 30px
	.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left
		left: 40%
	.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-right
		right: 40%		